<!DOCTYPE html><html><html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div id="login-container">
    <h1 class="title" th:text="#{chat.enter}"></h1>
    <form id="loginForm" name="loginForm" method="POST">
        <input type="text" name="username" autofocus/>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <button type="submit" ><span th:text="#{link.login}"></span></button>
    </form>
</div>
</body>
</html>