<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>
<body>
<div th:replace="fragments/layout :: header"></div> <br>
<h1 th:text="#{admin.add.service}"></h1>
<a href="/admin" th:text="#{admin.next}"></a>
</body>
</html>