<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>
<body>
<div th:replace="fragments/layout :: header"></div> <br>

<h1 th:text="#{order.sale.confirmation}"></h1>
<form action="/orderSale/confirmation" method="post">
    <span th:text="#{display.id}"></span> <input type="text" name="id" th:value="${service.id()}" readonly><br><br>
    <span th:text="#{display.name}"></span> <input type="text" name="name" th:value="${service.name()}" readonly><br><br>
    <span th:text="#{display.price}"></span> <input type="text" name="price" th:value="${service.price()}" readonly><br><br>
    <span th:text="#{display.order.quantity}"></span> <input type="number" name="quantity" ><br><br>
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <br><br><input class="buttonreg" type="submit" th:value="#{registration.submit}">
    <a href="/start" th:text="#{order.resign}"></a>
</form>
<h1 th:text="${error}"></h1>
</body>
</html>