<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>
<body>
<h1 th:text="#{order.confirmation.head}"></h1>
<h1 th:text="#{order.confirmation.mail.contens}"></h1>
Username: <span th:text="${username}"></span><br><br>
Email: <span th:text="${emailTo}"></span>


<br><br><a href="/" th:text="#{link.return}"></a>
</body>
</html>