body {
    background-image: url("41bd5703.png");
}

#admin {
    display: none;
}

#mainheader {
    text-align: center;
    text-shadow: 3px 2px cornflowerblue;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-style: oblique;
    font-size: 60px;
}

#lang {
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

#plan {
    float: right;
    clear-after: both;
    width: 25%;
}

#welcome {
    text-align: center;
    text-shadow: 3px 2px cornflowerblue;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-style: oblique;
    font-size: 100px;
    text-transform: capitalize;
    float: left;
    width: 75%;
    margin-top: 5%;
}

fieldset {
    display: block;
    margin-right: 20%;
}

.buttonreg {
    background-color: crimson;
    opacity: 0.8;
    border: 2px solid #4CAF50;
    border-radius: 15px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonreg:hover {
    background-color: green;
    color: white;
}

#stats {
    color: green;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

li {
    display: inline;
}

a:link {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px 5px 50px;
    padding: 5px 20px;
    color: black;
    background-color: cadetblue;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

a:visited {
    color: black;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}


.dropdown {
    position: absolute;
    display: block;
}

.photo {
    left: 92%;
    margin-right: 1%;
    margin-top: -10%;
}

.car {
    position: static;
    margin-top: 18%;
}

#menu > li {
    height: 40px;
}

input:focus {
    background-color: lightblue;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;

}

li.dropdown-service {
    display: inline-block;
}

.dropdown-content-service {
    margin-top: 1%;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content-service a {
    display: block;
    margin-left: 0;
}

.dropdown-service:hover .dropdown-content-service {
    display: block;
}

.dropdown-content-service a:hover {
    background-color: darkgray;
}

#map {
    position: relative;
    left: 40%;
    margin-top: -13%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: chocolate;
    color: white;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: red;
}

.centerContainer {
    position: fixed;
    top: 25%;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: transparent;
    display: none;
}
.centerContainer .order {
    border: 2px solid black;
    background-color: cadetblue;
    width: 40%;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.resignation {
    margin-bottom: 5%;
}

ul#hasloTip li{
    display: block;
}



