<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head th:replace="fragments/layout :: head">

</head>
<body>
    <div th:replace="fragments/layout :: header"></div> <br>
        <h2 th:text="#{contact.date} + ${date} + '  --' + ${dayOfWeek}+ #{contact.time} + ${time}"></h2>
        <h2>Wroclaw, Rynek 1</h2>
        <h2>Tel. 654-485-258</h2>
        <h2>Email: servicecar@gmail.com</h2>
        <br><br><h2> <span th:text="#{contact.state}"></span><span th:text="${state}? #{contact.state.closed} : #{contact.state.opened}"></span></h2>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5010.013502460168!2d17.03191812481885!3d51.10833560533572!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe72be8d8d320d5d8!2sRynek+we+Wroc%C5%82awiu!5e0!3m2!1spl!2spl!4v1556997014252!5m2!1spl!2spl"
            width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div th:replace="fragments/layout :: footer"></div>
</body>
</html>