<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head th:replace="fragments/layout :: head">
<body>
<div th:replace="fragments/layout :: header"></div> <br>
<h1 th:text="${error}"></h1>
</body>
</html>