<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>
<body>
<div th:replace="fragments/layout :: header"></div> <br>
<h2 th:text="#{postRegistration.hello} + ${firstName} + ' ' + ${lastName}"></h2>
<h2 th:text="#{postRegistration.live} + ${city} + ', ' + ${code} + #{postRegistration.street} + ${street} + #{postRegistration.number} + ${number}"></h2>
<h2 th:text="#{postRegistration.username} + ${username}"></h2>
<h2 th:text="${email} + ': '+ #{postRegistration.message}"></h2><br>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>