<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="en">'
<head th:replace="fragments/layout :: head">
</head>
<body>
<div th:replace="fragments/layout :: header"></div> <br>
<br>
<h2><span th:text="#{registration.form}"></span></h2>
<form action="/registration" method="post">
    <fieldset>
        <legend><span th:text="#{registration.legend.personal}"></span></legend>
        <span th:text="#{registration.name}"></span> <input type="text" name="firstName" pattern="^[A-Z]{1}[a-zA-Z]+$" autofocus required>
        <span th:text="#{registration.lastname}"></span> <input type="text" name="lastName" pattern="^[A-Z]{1}[a-zA-Z]+$" required><br><br>
    </fieldset>
    <fieldset>
        <legend><span th:text="#{registration.legend.address}"></span></legend>
        <span th:text="#{registration.city}"></span> <input type="text" name="city" pattern="^[A-Z]{1}[a-zA-Z]+$" required>
        <span th:text="#{registration.street}"></span> <input type="text" name="street" pattern="[a-zA-Z]+$"><br><br>
        <span th:text="#{registration.number}"></span> <input type="number" name="number" required>
        <span th:text="#{registration.code}"></span> <input type="text" name="code" pattern="[0-9]{2}-[0-9]{3}" placeholder="format: 00-000" required><br><br>
        Email <input type="email" name="email">
    </fieldset><br>
    <fieldset>
        <legend><span th:text="#{registration.user}"></span></legend>
        <span th:text="#{registration.user.name}"></span> <input type="text" name="username" pattern="^((?!admin).)*$" required>
        <span th:text="#{registration.password}"></span> <input type="password" name="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!*@#$%^&+=])(?=\S+$).{5,}$" required>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <span th:text="#{registration.password2}"></span> <input type="password" name="password2" required>
    </fieldset><br>
    <input class="buttonreg" type="submit" th:value="#{registration.submit}">
</form>
<h1 th:text="${errorpassword}? #{registration.error.password}: ''" style="margin-left: 20%; color: darkred"></h1>
<h1 th:text="${erroruser}? #{registration.error.user}: ''" style="margin-left: 20%; color: darkred"></h1>
<ul id="hasloTip">
    <li><h3 th:text="#{password.info}"></h3></li>
    <li th:text="#{password.info.signs}"></li>
    <li th:text="#{password.info.upperLetter}"></li>
    <li th:text="#{password.info.lowerLetter}"></li>
    <li th:text="#{password.info.digit}">Cyfre</li>
    <li th:text="#{password.info.specialSign}"></li>
</ul>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>