<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>
<body>
<div th:replace="fragments/layout :: header"></div> <br>

<div><span id="welcome" th:text="#{index.welcome}"></span></div>
<iframe id="plan" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2504.9078896561173!2d17.034040832428214!3d51.110159606772704!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e40c57467f87b%3A0xe72be8d8d320d5d8!2sRynek+we+Wroc%C5%82awiu!5e0!3m2!1spl!2spl!4v1556825816485!5m2!1spl!2spl"
        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


<div th:replace="fragments/layout :: footer"></div>
</body>
</html>